<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>定时器的选择.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>7E2D00F21E339ECD0080540D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7E2D010B1E339ECE0080540D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7E2D01161E339ECE0080540D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
